body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 50px;
}
.boder{
    border-left: 3px solid rgb(230, 19, 142) ;
   
}
.font-height{
    font-weight: 300;
    line-height: 35px;
}
.orenge-color{
    color: orange;
}
.first-section{
    display : flex;
    margin-bottom: 100px;
}
.info{
    width: 50%;
    padding-left: 10%;
margin-top: 10%;
}
.info img{
    width: 80%;
}
p{
    padding: 12px 0;
    line-height: 20px;
}

.btn{
    
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight:400;
    background-image: linear-gradient(orange, tomato);
    
}

/* second section */

.second-section{
    margin-bottom: 100px;
}
.services{
    display: flex;
    justify-content: space-around;
}
.service-product{
    display: inline-block;
    max-width: 130px;
}
.card{
    text-align: center;
    background-color: lightcyan;
    border: none;
    width: 18%;
    padding: 5%;
    height: 300px;
    box-shadow: 5px 7px 40px gray;
    border-radius: 20px;
    
}

.intro-3{
    margin-left: 5%;
    margin-bottom: 5%;
}
#text-9{
    font-size: 40px;
    color: rgb(22, 7, 7);
    text-align: center;
    font-weight: 900;
}
.text-10{
    font-size: 48px;
    font-weight: 900;
    color: rgb(4, 4, 43);
}
.text-14{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(6, 40, 83);
    border-radius: 20px;
    padding: 5% 10%;
    font-weight: bold;
    color: white;
    margin-top: 8%;
    
}

/* third section */

.third-section{
        display : flex;
        margin-bottom: 100px;
    }
    .third-info{
        width: 80%;
        padding-left: 8%;
        padding-right: 4%;
    margin-top: 10%;

    }
    .third-info img{
        width: 80%;
    }


/*---fore section--*/
.fore-section{
    margin-bottom: 100px;
}
.services-two{
    display: flex;
    justify-content: space-around;
}
.image{
    display: inline-block;
    max-width: 400px;
}
.cardd{
    font-size: 20px;
    border: none;
    width: 60%;
    
    padding: 5%;
    height: 400px;
    border-radius: 20px;
    
}
.paragrap{
    font-size: 18px;
    line-height: 35px;
}
.text-area{
    line-height: 30px;
}
.title{
    font-size: 30px;
}

/*--five section--*/

.fifa-world{
    text-align: center;
    font-size: 50px;
}
.five-section{
    display : flex;
    margin-bottom: 100px;
}
.five-info{
    width: 80%;
    padding-left: 8%;
    padding-right: 4%;
    margin-top: 10%;
    display: block;

}
.five-info img{
    width: 80%;
}



  /*--footer*/
 
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }
    




